[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/JotaErrE01/client-gateway.git
[submodule "product-service"]
	path = product-service
	url = https://github.com/JotaErrE01/products-ms.git
